@charset "utf-8";
* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  font-size: 62.5%!important;
  color: #474747;
}
body {
  font-family: 'Microsoft YaHei', 'Hiragino Sans GB', 'Arail';
  -webkit-box-sizing: border-box;
  margin: 0;
  background: #eee;
}
body.gray {
  background: #eeeeee;
}
body.fff {
  background: #fff;
}
button,
input,
textarea {
  border: none;
  -webkit-outline: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
a {
  color: #474747;
  text-decoration: none;
}
a:focus,
a.active,
a:hover {
  text-decoration: none;
}
/*--- 元素多余间距值 ---*/
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
img {
  vertical-align: middle;
}
/*------ @part 布局 ------*/
/*--- container ---*/
.container {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.container .recruit_student {
  padding: 0 1rem;
  margin-top: 1rem;
}
.container .recruit_student p img {
  width: 100%;
}
.container .recruit_student h3 {
  margin: 1rem 0 1rem 0.5rem;
}
.container.white_bgc {
  background: #fff;
}
.container.full {
  padding: 0;
}
.container.overflow {
  overflow: hidden;
}
/*--- 头部 ---*/
/* 整体头部 */
header {
  width: 100%;
  height: 44px;
  background: #ef3f41;
  text-align: center;
  padding-top: 5px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 19881121;
}
header.fff {
  background: #fff
}
header .header_back {
  width: 10px;
  height: 16px;
  background: url(../img/search_back.png) no-repeat 0 0;
  background-size: 10px 16px;
  position: absolute;
  left: 0;
  top: 15px;
  display: block;
  margin: 0 0 0 20px;
}
header .header_back_red {
  width: 10px;
  height: 16px;
  background: url(../img/icon_back_red.png) no-repeat 0 0;
  background-size: 10px 16px;
  position: absolute;
  left: 0;
  top: 15px;
  display: block;
  margin: 0 0 0 20px;
}
header .course_share {
  width: 35px;
  height: 35px;
  background: url(../img/icon_share.png) no-repeat right center;
  background-size: 15px 15px;
  display: inline-block;
}
header .fl {
  float: left;
}
header .course_out_back {
  background: url(../img/icon_return.png) no-repeat 0 center;
  background-size: 10px 16px;
}
header .course_out_btn {
  width: 35px;
  height: 35px;
  background: url(../img/icon_point.png) no-repeat 19px 15px;
  background-size: 16px 4px;
  display: block;
}
header span.tit {
  color: #fff;
  line-height: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
header span.titgray {
  color: #666;
  line-height: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
header .index_sear_icon {
  width: 50px;
  height: 24px;
  background: url(../img/side_bar_icon.png) no-repeat 13px 12px;
  background-size: 15px 12px;
  display: inline-block;
  float: right;
  padding: 12px 0 25px 0;
}
header.all_nav_zone .header_back {
  width: 38px;
  height: 35px;
  background-position: left center;
  float: left;
  position: static;
  margin: -2px 0 0 15px;
}
header.all_nav_zone .cen_con {
  font-size: 1.7rem;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 50px 0 53px;
}
header.new_header {
  border-bottom: 1px solid #ef3f41;
  background-color: #fff;
}
header.new_header .header_back {
  background-image: url(../img/icon_return.png);
  background-size: 10px 16px;
}
header.new_header .cen_con {
  color: #ef3f41;
}
header.new_header .right_bar .icon_btn {
  background: url(../img/icon_point.png) no-repeat 19px 15px;
  background-size: 16px 4px;
}

.page-enter-active, .page-leave-active {
  transition: opacity .2s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

/*--- 没有相关内容 ---*/
.no_content {
  padding: 30px 0 30px 0;
}
.no_content .margin_left_p {
  margin-left: 1.4rem;
}
.no_content .icon {
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  margin: 0 auto;
  margin-bottom: 13px;
}
.no_content .icon.menu {
  width: 168px;
  height: 120px;
  background-image: url(../img/no_content_menu.png);
  background-size: 168px 120px;
}
.no_content .icon.jigou {
  width: 168px;
  height: 120px;
  background-image: url(../img/no_content_jigou.png);
  background-size: 168px 120px;
}
.no_content .icon.ping {
  width: 168px;
  height: 120px;
  background-image: url(../img/no_content_ping.png);
  background-size: 168px 120px;
}
.no_content .icon.kid {
  width: 168px;
  height: 120px;
  background-image: url(../img/no_content_kid.png);
  background-size: 168px 120px;
}
.no_content .icon.class {
  width: 168px;
  height: 120px;
  background-image: url(../img/no_content_class.png);
  background-size: 168px 120px;
}
.no_content .icon.noclass {
  width: 168px;
  height: 120px;
  background-image: url(../img/no_content_class.png);
  background-size: 168px 120px;
}
.no_content .icon.collection {
  width: 74px;
  height: 53px;
  background-image: url(../img/no_content_collection.png);
  background-size: 74px 53px;
}
.no_content .icon.activity {
  width: 52px;
  height: 50px;
  background-image: url(../img/no_content_activity.png);
  background-size: 52px 50px;
}
.no_content .icon.message {
  width: 168px;
  height: 120px;
  background-image: url(../img/no_content_message.png);
  background-size: 168px 120px;
}
.no_content .icon.teacher {
  width: 168px;
  height: 120px;
  background-image: url(../img/no_content_teacher.png);
  background-size: 168px 120px;
}
.no_content p {
  color: #c0c0c0;
  text-align: center;
}
